


.grow {
  animation-name: grow;
  animation-duration: 0.5s;
  animation-iteration-count: 1000;
  animation-fill-mode: forwards;
}




@keyframes grow {
  0% {top: 0px;}
  50% {top: 259px;}
  100% {top: 0px;}
}
